[Unit]
Description=Dump game traffic to pcaps
After=network.target

[Service]
Type=simple
ExecStartPre=/root/pcap-dirs-init.sh
ExecStartPre=/opt/gameserver/vpn/tcpdump/setup.sh
ExecStart=/opt/gameserver/vpn/tcpdump/run-tcpdump.sh game
WorkingDirectory=/opt/gameserver
StandardOutput=append:/var/log/tcpdump.log
StandardError=append:/var/log/tcpdump.log
Restart=on-failure
RestartSec=5s
EnvironmentFile=/etc/environment
